<div class="container mt-5">
  <h1 class="text-4xl font-bold mb-5">Commandes Management</h1>
  <a routerLink="role" class="btn btn-primary">Roles</a>
  &nbsp;
  <a routerLink="user" class="btn btn-primary">Users</a>
  &nbsp;
  <a routerLink="fournisseur" class="btn btn-primary">Fournisseurs</a>
  &nbsp;
  <a routerLink="produit" class="btn btn-primary">Produits</a>
  &nbsp;
  <a routerLink="commande" class="btn btn-primary">Commandes</a>
  &nbsp;
  <a routerLink="commandeetat" class="btn btn-primary">Commandes Etat</a>
  &nbsp;
  <a routerLink="categorie" class="btn btn-primary">Categories</a>
  &nbsp;
  <a routerLink="livraison" class="btn btn-primary">Livraisons</a>
  &nbsp;
  <a routerLink="lignedecommande" class="btn btn-primary">Commandes Details</a>
  &nbsp;
  <router-outlet></router-outlet>
</div>
