<div class="container mt-5">
    
    <div class="d-flex justify-content-end mb-3">
        <a class="btn btn-primary" [routerLink]="['/add-livraison']">Add</a>
    </div>

    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Fournisseur</th>
            <th scope="col">Produit</th>
            <th scope="col">Delais Livraison</th>
            <th scope="col">Prix Livraison</th>
            <th scope="col">Edits</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let lv of readData'>
            <td>{{ lv.fournisseur?.nom }}</td>
            <td>{{ lv.produit?.nom }}</td>
            <td>{{ lv.delaisLivraison | date: 'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ lv.prixLivraison }}  $</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteLivraisonID(lv.idFournisseur, lv.idProduit)">Delete</button>
              &nbsp;
              <a [routerLink]="['/add-livraison', lv.idFournisseur, lv.idProduit]" class="btn btn-sm btn-success">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>