<div class="container mt-5">
    
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-primary" [routerLink]="['/add-commande']">Add</a>
    </div>

    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Etat</th>
            <th scope="col">Prix Commande</th>
            <th scope="col">Date Commande</th>
            <th scope="col">Edits</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let cmd of readData'>
            <th scope="row">{{cmd.id}}</th>
            <td>{{cmd.user?.nom}}</td>
            <td>{{cmd.commandeEtat?.etat}}</td>
            <td>{{cmd.prixCommande}}  $</td>
            <td>{{ cmd.dateCommande | date: 'yyyy-MM-dd HH:mm' }}</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteCommandeID(cmd.id)">Delete</button>
              &nbsp;
              <a [routerLink]="['/add-commande', cmd.id]" class="btn btn-sm btn-success">Update</a>
              &nbsp;
              <button class="btn btn-sm btn-info" (click)="showLigneDeCommandeDetails(cmd.id)">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>