<div class="container mt-5">
    <div *ngIf="errormsg" class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{errormsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
    <form [formGroup]="userForm">
      <div class="col">
        <div class="col-lg-4 mt-2">
          <input type="text" class="form-control rounded" formControlName="nom" placeholder="Enter Your Full Name">
        </div>
        <div class="col-lg-4 mt-2">
          <input type="text" class="form-control rounded" formControlName="tele" placeholder="Enter Your Mobile">
        </div>
        <div class="col-lg-4 mt-2">
          <input type="email" class="form-control rounded" formControlName="email" placeholder="Enter Your Email">
        </div>
        <div class="col-lg-4 mt-2">
          <input type="password" class="form-control rounded" formControlName="password" placeholder="Enter Your Password">
        </div>
        <div class="col-md-4 mt-2">
          <select id="role" class="form-select rounded" formControlName="idRole">
            <option value="">Choose a Role</option>
            <option *ngFor="let role of roles" [value]="role.id">{{ role.nom }}</option>
          </select>
        </div>
      </div>
  
      <div class="row mt-3">
        <div class="col-lg-4">
          <button *ngIf="!getparamid" class="btn btn-primary btn-block rounded" (click)="userSubmit()">Create</button>
          <button *ngIf="getparamid" class="btn btn-dark btn-block rounded" (click)="userUpdate()">Update</button>
        </div>
      </div>
    </form>
  </div>
  