<div class="container mt-5">
    
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Commande ID</th>
          <th scope="col">Produit</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Edits</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let ldc of readData'>
          <td>{{ ldc.idCommande }}</td>
          <td>{{ ldc.produit?.nom }}</td>
          <td>{{ ldc.qteTotal }}</td>
          <td>{{ ldc.prixTotal }}  $</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteLigneDeCommandeID(ldc.idProduit, ldc.idCommande)">Delete</button>
            &nbsp;
            <a [routerLink]="['/add-commande', ldc.idProduit, ldc.idCommande]" class="btn btn-sm btn-success">Update</a>
          </td>
        </tr>
      </tbody>
    </table>
    
</div>