<div class="container mt-5">
    
    <div class="d-flex justify-content-end mb-3">
      <a class="btn btn-primary" [routerLink]="['/add-fournisseur']">Add</a>
    </div>

    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div> 
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">Tele</th>
            <th scope="col">Description</th>
            <th scope="col">Edits</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let fr of readData'>
            <th scope="row">{{fr.id}}</th>
            <td>{{fr.user?.nom}}</td>
            <td>{{fr.nom}}</td>
            <td>{{fr.email}}</td>
            <td>{{fr.tele}}</td>
            <td>{{fr.description}}</td>
            <td>
              <button class="btn btn-sm btn-danger" (click)="deleteFournisseurID(fr.id)">Delete</button>
              &nbsp;
              <a [routerLink]="['/add-fournisseur', fr.id]" class="btn btn-sm btn-success">Update</a>
            </td>
          </tr>
        </tbody>
      </table>
</div>